<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to Text Analyser</h1>
    <form action="/analysetext" method="get">
        <textarea name="text" style="width: 1367px; height: 179px;"></textarea>
        <input name="removepunctuation" type="checkbox">Remove Punctuations.
        <input name="uppercase" type="checkbox">UPPERCASE
        <input name="newlineremove" type="checkbox">Remove New Line.
        <input name="spaceremove" type="checkbox">Space Remove.<br><br>
        <!-- <input name="charcount" type="checkbox">Count characters.<br><br> -->
        <button type="submit">Analyse Text</button>
        <!-- <input name="removepunctuation" type="checkbox">Remove Punctuations. -->
    </form>
</body>
</html>